* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5F3F2;
  font-family: 'Roboto Slab', serif;
}

#idea {
  color: #00A79D;
  font-size: 50px;
}

#box {
  color: #6D6E71;
  font-size: 50px;
}

.form-container {
  width: 50%;
}

.title-input,
.body-input,
.save-btn {
  height: 40px;
  width: 100%;
  margin: 10px 0;
}

.title-input,
.body-input {
  padding-left: 5px;
  border: 2px solid #939598;
  color: #6D6E71;
  font-size: 20px;
  resize: none;
}

textarea {
  padding-top: 6px;
}

.save-btn {
  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
}

.save-btn:hover {
  background-color: #045E55;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  height: 40px;
  width: 50%;
  margin-top: 30px;
  padding-left: 5px;
  border: 2px solid #939598;
  color: #6D6E71;
  font-size: 20px;
}

.card-container {
  width: 50%;
}

.idea-card {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid #D1D3D4;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.card-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-icon {
  height: 25px;
  width: 25px;
  background-image: url('assets/delete.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.delete-icon:hover {
  background-image: url('assets/delete-hover.svg');
}

.card-body {
  margin: 10px 0;
  padding: 3px;
  color: #939598;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottom {
  display: flex;
  align-items: center;
}

.vote-btn-container {
  width: 7%;
  display: flex;
  justify-content: space-between;
}

.upvote {
  height: 25px;
  width: 25px;
  background-image: url('assets/upvote.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.upvote:hover {
  background-image: url('assets/upvote-hover.svg');
}

.downvote {
  height: 25px;
  width: 25px;
  background-image: url('assets/downvote.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.downvote:hover {
  background-image: url('assets/downvote-hover.svg');
}

#quality {
  color: #6D6E71;
  margin-left: 16px;
  padding-right: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

.quality-vote {
  color: #6D6E71;
  font-size: 18px;
}

@media screen and (max-width: 1600px) {
  .vote-btn-container {
    width: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .form-container {
    width: 65%;
  }
  .search-input {
    width: 65%;
  }
  .card-container {
    width: 65%;
  }
  .vote-btn-container {
    width: 10%;
  }
}

@media screen and (max-width: 800px) {
  .vote-btn-container {
    width: 15%;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 350px;
  }
  .body-input {
    height: 100px;
  }
  .form-container {
    width: 80%;
  }
  .search-input {
    width: 80%;
  }
  .card-container {
    width: 80%;
  }
  .vote-btn-container {
    width: 15%;
  }
}

@media screen and (max-width: 450px) {
  .vote-btn-container {
    width: 22%;
  }
}
